<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.pickax.main.mapper.CountryMapper">
	<select id="getCountryList" resultType="com.miner.pickax.main.vo.CountryInfoVo">
		SELECT id,countryNameKr,countryNameEn,iso,iso2,iso3
		FROM country_info
	</select>
</mapper>