<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.pickax.login.mapper.MemberMapper">
	<select id="getUser" parameterType="com.miner.pickax.login.vo.UserVo" resultType="com.miner.pickax.login.vo.UserVo">
		SELECT * 
		FROM tb_member
		<where>
			<if test="userID !=null and userID !=''">
				userID = #{userID}
			</if>
			<if test="userPW !=null and userPW !=''">
				and userPW = #{userPW}
			</if>
		</where>
	</select>
	
	<insert id="setUser" parameterType="com.miner.pickax.login.vo.UserVo">
		INSERT INTO tb_member (userID, userPW, userNm)
		VALUES (#{userID}, #{userPW}, #{userNm})
	</insert>
	
	<update id="updateUser" parameterType="com.miner.pickax.login.vo.UserVo">
		UPDATE tb_member
		SET
		<if test="userNick != null and userNick != ''">
			userNick = #{userNick}
		</if>
		<if test="userNm != null and userNm != ''">
			userNm = #{userNm}
		</if>
		<if test="userEmail != null and userEmail != ''">
			userEmail = #{userEmail}
		</if>
		<if test="userPW != null and userPW != ''">
			userPW = #{userPW}
		</if>
		WHERE userSec = #{userSec}
	</update>
</mapper>